mat-form-field{
  width: 100%;
}

:host{
  display: flex;
  justify-content: center;

}
mat-card{
  margin-top: 150px;
}
mat-card-title{
  width: 100%;
  text-align: center;
  color: #3f51b5;
}
.mat-card-header-text{
  width: 100%;
}
